@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Delius&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    /* Fonts */
    --header-font: 'Amatic SC';
    --primary-font: sans-serif;
    /* Colors */
    --accent-color: #1f7baf;
    --divider-color: #8e8d8d;
    --border-color: #000000;
    /* Formatting */
    --line-thickness: 2px;
    --border-radius: 6px;
}

header {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

header > h1 {
    font-family: var(--header-font);
    font-size: 4em;
}

.logo {
    height: 6em;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1; 
}

.hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    white-space: nowrap;
    border: 0;
}

.search-box{
    margin: 0 1.5rem 1.5rem;
    border: solid var(--line-thickness) var(--border-color);
    border-radius: var(--border-radius);
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    min-width: 0;
    max-width: 100%;
}

.search-bar {
    flex-grow: 1;
    min-width: 0;
}

.search-bar input[type="text"] {
    all: unset;
    padding: 8px;
    font-family: var(--primary-font);
    text-align: left;
    font-size: 1.5rem;
    background-color: transparent;
    box-sizing: border-box;
}

.search-button {
    all: unset;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-left: solid var(--line-thickness) var(--border-color);
}

.search-svg {
    padding: 5px;
    width: 2rem;
    flex-shrink: 0;
}

hr {
    border: none;
    height: var(--line-thickness);
    background-color: var(--divider-color);
}

.recipe-list {
    margin: 1.5rem;
    padding: 1.5rem;
    border: solid var(--line-thickness) var(--border-color);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
}

.recipe-img {
    max-width: 100%;
    border-radius: 5px;
}

.tags {
    margin-top: 5px;
    padding: 0;
    font-family: var(--primary-font);
    list-style: none;
    display: flex;
    justify-content: flex-start;
    gap: 5px;
}

.tags li {
    padding: 3px;
    border: solid var(--line-thickness) var(--divider-color);
    border-radius: var(--border-radius);
}

h2 {
    font-family: var(--header-font);
    margin: 0;
    font-size: 2.5rem;
    color: var(--accent-color);
}

footer {
    margin: 0 1.5rem 1.5rem;
    display: flex;
    justify-content: center;
    flex-direction: column; 
}

.social {
    align-self: center;
}

.social a img {
    width: 3em;
}

.attribution {
    all: unset;
    padding: 10px;
    font-family: var(--primary-font);
    font-weight: bold;
    font-size: 0.8em;
    color: var(--accent-color);
    text-align: center;
    cursor: pointer;
    display: inline-block;
}

@media screen and (min-width:700px) {
    
    .recipe-list {
        display: flex;
        flex-direction: row;
    }

    .recipe-img {
        max-width: 40%;
    }

     .info-box {
        padding: 1rem;
        display: flex;
        flex-direction: column;
    }

    .tags li {
        max-height: 1.2rem;
    }

    p.hidden {
        font-family: var(--primary-font);
        position: static;
        width: auto;
        height: auto;
        margin: 0;
        overflow: visible;
        white-space: normal;
    }

    footer {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
    }
}

@media screen and (min-width:900px) {
    body {
        margin: 0 auto;
        max-width: 900px;
    }
}