body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    max-width: 650px;
    margin: 0 auto;
}
header {
    background-color: darkgreen;
    padding: .5em;
    color: darkseagreen;
}
header > h1{
    margin-bottom: 0;

}
header > h2{
    font-size: 1m;
    margin-top: 0.2em;
}
.highlight{
    background-color: darkseagreen;
}
topics{
    max-width: 80%;
}