
body{
    margin: 10% auto;
    max-width: 600px;
    line-height: 1.5;
    border: 1px solid black;
    padding: 5% 2%;
}
.content{
    max-width: 475px;
    margin: 0 auto;
}
header {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    border-bottom: 1px solid lightgray;
    margin-bottom: 2rem;
}
header h1,
header h2{
    margin-bottom: 0;
}
h2{
    color: #368bc5;
    font-size: 85%;
    
}
ol, li {
    margin-bottom: 1rem;
}
footer {
    text-align: center;
    margin-top: 2rem;
}
footer img {
    max-width: 25%;
    height: auto;
}